# Backend stuff

## Csharp webapi gitignore stuff
server/bin/
server/obj/


# Client stuff

## Angular client version
## Angular comes with it's own .gitignore
## No need to repeat ourselves

# some stuff editors might leave behind
.vscode/
.idea/
# Don't now this one
*.swp 

# temp files
*~

# some non-linux things
Thumbs.db
.DS_Store
__MACOSX/
